<hr class="border border-primary">

<p class="display-4">Insert coin</p>

<div class="d-flex justify-content-center bg-secondary mb-3">
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(.05)'>5c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(.10)'>10c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(.20)'>20c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(.50)'>50c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(1)'>$1</button>
    <button type="button" class="btn btn-primary m-3" (click)='addCustomerCashBalance(2)'>$2</button>
</div>

<p class="display-4">Available Cash balance: {{_balance | currency:'USD'}}</p>