<div class="title-bar">
    <div class="title">Vending Machine</div>
</div>
<div id="appContainer">
  <div class="container" id="vendingMachineInterface">
    <app-insert-coin></app-insert-coin>
    <app-items (selectedDrinkEvent)="triggerPurchase($event)"></app-items>
    <app-payment-method></app-payment-method>
    </div>
  <div id="sidebar">
    <div class="card">
      <ul class="list-group list-group-flush ">
          <li class="list-group-item" class="sidebarItems">
              <strong>Cash collection amount in machine</strong> : ${{_vendingMachineCashBalance | number : '1.2-2'}}
          </li>
          <li class="list-group-item" class="sidebarItems">
              <strong>Credit card collection amount</strong>: ${{_vendingMachineCreditBalance | number : '1.2-2'}}
          </li>
          <li class="list-group-item" class="sidebarItems">
              <strong>Number of cans sold</strong>: {{_quantityOfCansSold}}
          </li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary m-3" (click)="restockMachine()">Restock machine</button>
  </div>    
  </div>
